/* $primary-green: #26877f; RGB = (38, 135, 127);
$primary-white: #ede7f1; RGB = (237, 231, 241);
$primary-red: #b53434; RGB = (181, 52, 52); */

body {
	background-color: #ede7f1;
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #26877f;
	color: #ede7f1;
	padding: 0;
	text-align: center;
}

#header_logo {
	width: auto;
	height: 320px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

.nav_container {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.nav_container,
.container-fluid {
	background-color: #f8f9fa;
}

#navbar_logo {
	height: 50px;
	width: auto;
	display: block;
	padding: 0 15px;
}

#navbarNavDropdown ul li a {
	color: #26877f;
}

#navbarNavDropdown ul li a:hover,
.active {
	color: #b53434;
	background-color: rgba(38, 135, 127, 0.1);
}

#navbar_logo_link {
	padding: 5px 0;
}

#navbar_logo_link:hover {
	background-color: rgba(38, 135, 127, 0.1);
}

main {
	padding: 20px;
}

.carousel_row {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.carousel {
	max-height: 360px;
	max-width: 640px;
	overflow: hidden;
}

.carousel-inner .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.carousel-caption {
	bottom: 0px;
	top: 230px;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
	background-color: rgba(210, 209, 209, 0.5);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

main section .card_row {
	display: flex;
	justify-content: center;
}

main section .card_row .col-sm-3 .card_padding {
	margin: 0 10px;
}

main section article .article_title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #26877f;
}

.my_card_button {
	text-align: center;
	margin-top: 15px;
}

.about_section {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 70vw;
}

.about_main_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.about_main_content_right img {
	display: flex;
	justify-content: center;
	height: auto;
	width: 400px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: #26877f;
	color: #ede7f1;
	text-align: center;
}

footer div {
	margin: 0 15px;
} /*# sourceMappingURL=styles.css.map */

@media (max-width: 600px) {
	.nav_container {
		display: flex;
		justify-content: space-between;
		width: 100vw;
	}
	.navbar {
		width: 100vw;
	}

	.about_section {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
	}

	.about_main_content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.about_main_content_right img {
		width: 70vw;
	}
}
